In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Prefs

In [2]:
cols = ['app_user_id', 'name', 'goal', 'diet', 'allergies', 'dislikes', 'custom_dsl']
user_prefs = pd.DataFrame(columns=cols)

In [3]:
def add_user(info):
    global user_prefs
    
    new_user = {'app_user_id': info[0], 
                'name': info[1], 
                'goal': info[2], 
                'diet': info[3], 
                'allergies': info[4],
                'dislikes': info[5],
                'custom_dsl': info[6]}
    
    user_prefs = user_prefs.append(new_user, ignore_index=True)

In [4]:
jess = [1, 'Jessica Ribeiro', 'lose', 'classic', 'tree_nuts', 'cauliflower, brussels sprouts, tofu', 'blood sausage, nutmeg, spinach']
nuno = [2, 'Nuno Loureiro', 'lose', 'low-carb', 'shellfish', 'beets, brussels sprouts, mushrooms, shrimp, tofu', 'lures, raisin, bean, grain, avocado, broccoli']
phillip = [3, 'Phillip Zastrow', 'build', 'vegetarian', 'mustard', 'turnips, quinoa, beets', 'raisin, pineapple']
olivier = [4, 'Olivier Paulo', 'maintain', 'vegan', 'None', 'brussels sprouts, blue cheese', 'sobriety, artichoke']

In [5]:
users = [jess, nuno, phillip, olivier]

for user in users:
    add_user(user)

In [6]:
user_prefs

,app_user_id,name,goal,diet,allergies,dislikes,custom_dsl
0,1,Jessica Ribeiro,lose,classic,tree_nuts,"cauliflower, brussels sprouts, tofu","blood sausage, nutmeg, spinach"
1,2,Nuno Loureiro,lose,low-carb,shellfish,"beets, brussels sprouts, mushrooms, shrimp, tofu","lures, raisin, bean, grain, avocado, broccoli"
2,3,Phillip Zastrow,build,vegetarian,mustard,"turnips, quinoa, beets","raisin, pineapple"
3,4,Olivier Paulo,maintain,vegan,None,"brussels sprouts, blue cheese","sobriety, artichoke"

In [7]:
user_prefs.to_csv('../../app/data/user_prefs.csv', index=False)

In [8]:
# test = pd.read_csv('../../app/data/user_prefs.csv')
# test

# Likes / Dislikes

In [9]:
recipes = pd.read_csv("../../Fed_up/data/samples/recipe_sample.csv")

In [25]:
import random

cols_2 = ['app_user_id', 'recipe_id', 'liked']
user_likes = pd.DataFrame(columns=cols_2)

for index, row in user_prefs.iterrows():
    num = random.randint(0, 10)
    for i in range(0, num):
        user_likes = user_likes.append({'app_user_id': row['app_user_id'], 
                                        'recipe_id': recipes.sample()['recipe_id'].values[0],
                                        'liked': random.randint(0, 1)}, ignore_index=True)

In [26]:
user_likes

   app_user_id recipe_id liked
0            1    224029     1
1            1     95311     1
2            1    244667     1
3            1    244046     1
4            1     35943     0
5            1    101260     0
6            1    111698     1
7            1    417253     1
8            1     88383     0
9            2    318668     0
10           2    376172     1
11           2    166207     0
12           2     28358     0
13           3     39681     0
14           3     32452     0
15           3    116746     0
16           3    247507     1
17           3    288160     1
18           3    370862     1
19           3    466543     0
20           3    360159     1
21           3      5237     1
22           3     11367     0
23           4    380574     1
24           4    475777     1
25           4    317182     0
26           4    413628     0
27           4    350188     1
28           4    457604     1

In [28]:
user_likes.to_csv('../../app/data/user_likes.csv', index=False)

In [30]:
# test = pd.read_csv('../../app/data/user_likes.csv')
# test