In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Prefs

In [2]:
cols = ['app_user_id', 'name', 'goal', 'diet', 'allergies', 'dislikes', 'custom_dsl']
user_prefs = pd.DataFrame(columns=cols)

In [3]:
def add_user(info):
    global user_prefs
    
    new_user = {'app_user_id': info[0], 
                'name': info[1], 
                'goal': info[2], 
                'diet': info[3], 
                'allergies': info[4],
                'dislikes': info[5],
                'custom_dsl': info[6]}
    
    user_prefs = user_prefs.append(new_user, ignore_index=True)

In [4]:
jess = [1, 'Jessica Ribeiro', 'lose', 'classic', 'tree_nuts', 'cauliflower, brussels sprouts, tofu', 'blood sausage, nutmeg, spinach']
nuno = [2, 'Nuno Loureiro', 'lose', 'low-carb', 'shellfish', 'beets, brussels sprouts, mushrooms, shrimp, tofu', 'lures, raisin, bean, grain, avocado, broccoli']
phillip = [3, 'Phillip Zastrow', 'build', 'vegetarian', 'mustard', 'turnips, quinoa, beets', 'raisin, pineapple']
olivier = [4, 'Olivier Paulo', 'maintain', 'vegan', 'None', 'brussels sprouts, blue cheese', 'sobriety, artichoke']

In [5]:
users = [jess, nuno, phillip, olivier]

for user in users:
    add_user(user)

In [6]:
user_prefs

,app_user_id,name,goal,diet,allergies,dislikes,custom_dsl
0,1,Jessica Ribeiro,lose,classic,tree_nuts,"cauliflower, brussels sprouts, tofu","blood sausage, nutmeg, spinach"
1,2,Nuno Loureiro,lose,low-carb,shellfish,"beets, brussels sprouts, mushrooms, shrimp, tofu","lures, raisin, bean, grain, avocado, broccoli"
2,3,Phillip Zastrow,build,vegetarian,mustard,"turnips, quinoa, beets","raisin, pineapple"
3,4,Olivier Paulo,maintain,vegan,None,"brussels sprouts, blue cheese","sobriety, artichoke"

In [7]:
user_prefs.to_csv('../../app/data/user_prefs.csv', index=False)

In [8]:
test = pd.read_csv('../../app/data/user_prefs.csv')
test

,app_user_id,name,goal,diet,allergies,dislikes,custom_dsl
0,1,Jessica Ribeiro,lose,classic,tree_nuts,"cauliflower, brussels sprouts, tofu","blood sausage, nutmeg, spinach"
1,2,Nuno Loureiro,lose,low-carb,shellfish,"beets, brussels sprouts, mushrooms, shrimp, tofu","lures, raisin, bean, grain, avocado, broccoli"
2,3,Phillip Zastrow,build,vegetarian,mustard,"turnips, quinoa, beets","raisin, pineapple"
3,4,Olivier Paulo,maintain,vegan,None,"brussels sprouts, blue cheese","sobriety, artichoke"

# Likes / Dislikes

In [9]:
recipes = pd.read_csv("../../Fed_up/data/samples/recipe_sample.csv")

In [10]:
import random
import time

cols_2 = ['app_user_id', 'recipe_id', 'liked', 'timestamp']
user_likes = pd.DataFrame(columns=cols_2)

for index, row in user_prefs.iterrows():
    num = random.randint(0, 10)
    for i in range(0, num):
        user_likes = user_likes.append({'app_user_id': row['app_user_id'], 
                                        'recipe_id': recipes.sample()['recipe_id'].values[0],
                                        'liked': random.randint(0, 1), 'timestamp': pd.Timestamp.now()}, ignore_index=True)

In [11]:
user_likes

   app_user_id recipe_id liked                  timestamp
0            1    388422     1 2020-11-24 00:22:17.212425
1            1    174932     1 2020-11-24 00:22:17.219280
2            1    362565     1 2020-11-24 00:22:17.223856
3            1    294280     0 2020-11-24 00:22:17.229503
4            1    122322     1 2020-11-24 00:22:17.234888
5            1    165267     1 2020-11-24 00:22:17.239048
6            1    117514     0 2020-11-24 00:22:17.242236
7            1    111372     0 2020-11-24 00:22:17.246365
8            1    486878     0 2020-11-24 00:22:17.249904
9            2    135146     0 2020-11-24 00:22:17.252626
10           2    375021     0 2020-11-24 00:22:17.255276
11           2    465803     1 2020-11-24 00:22:17.257814
12           2     28909     1 2020-11-24 00:22:17.260371
13           2    341816     1 2020-11-24 00:22:17.263139
14           2    255127     1 2020-11-24 00:22:17.265742
15           2    216800     0 2020-11-24 00:22:17.268299
16           2     76065     1 2020-11-24 00:22:17.271139
17           2    191119     1 2020-11-24 00:22:17.273688
18           2     66356     0 2020-11-24 00:22:17.276214
19           3    270405     1 2020-11-24 00:22:17.278969
20           3    128745     0 2020-11-24 00:22:17.281523
21           3    191682     0 2020-11-24 00:22:17.284059
22           3     84540     0 2020-11-24 00:22:17.286698
23           3      2791     1 2020-11-24 00:22:17.289249
24           3    247278     0 2020-11-24 00:22:17.291777
25           3    142067     1 2020-11-24 00:22:17.294552
26           4     52707     1 2020-11-24 00:22:17.297229
27           4    395984     0 2020-11-24 00:22:17.299759
28           4     72652     0 2020-11-24 00:22:17.302474
29           4    301015     0 2020-11-24 00:22:17.305030
30           4    189560     1 2020-11-24 00:22:17.307980
31           4     31220     0 2020-11-24 00:22:17.310840
32           4    230791     0 2020-11-24 00:22:17.313443
33           4    393304     1 2020-11-24 00:22:17.316120

In [12]:
user_likes.to_csv('../../app/data/user_likes.csv', index=False)

In [13]:
test = pd.read_csv('../../app/data/user_likes.csv')
test

    app_user_id  recipe_id  liked                   timestamp
0             1     388422      1  2020-11-24 00:22:17.212425
1             1     174932      1  2020-11-24 00:22:17.219280
2             1     362565      1  2020-11-24 00:22:17.223856
3             1     294280      0  2020-11-24 00:22:17.229503
4             1     122322      1  2020-11-24 00:22:17.234888
5             1     165267      1  2020-11-24 00:22:17.239048
6             1     117514      0  2020-11-24 00:22:17.242236
7             1     111372      0  2020-11-24 00:22:17.246365
8             1     486878      0  2020-11-24 00:22:17.249904
9             2     135146      0  2020-11-24 00:22:17.252626
10            2     375021      0  2020-11-24 00:22:17.255276
11            2     465803      1  2020-11-24 00:22:17.257814
12            2      28909      1  2020-11-24 00:22:17.260371
13            2     341816      1  2020-11-24 00:22:17.263139
14            2     255127      1  2020-11-24 00:22:17.265742
15            2     216800      0  2020-11-24 00:22:17.268299
16            2      76065      1  2020-11-24 00:22:17.271139
17            2     191119      1  2020-11-24 00:22:17.273688
18            2      66356      0  2020-11-24 00:22:17.276214
19            3     270405      1  2020-11-24 00:22:17.278969
20            3     128745      0  2020-11-24 00:22:17.281523
21            3     191682      0  2020-11-24 00:22:17.284059
22            3      84540      0  2020-11-24 00:22:17.286698
23            3       2791      1  2020-11-24 00:22:17.289249
24            3     247278      0  2020-11-24 00:22:17.291777
25            3     142067      1  2020-11-24 00:22:17.294552
26            4      52707      1  2020-11-24 00:22:17.297229
27            4     395984      0  2020-11-24 00:22:17.299759
28            4      72652      0  2020-11-24 00:22:17.302474
29            4     301015      0  2020-11-24 00:22:17.305030
30            4     189560      1  2020-11-24 00:22:17.307980
31            4      31220      0  2020-11-24 00:22:17.310840
32            4     230791      0  2020-11-24 00:22:17.313443
33            4     393304      1  2020-11-24 00:22:17.316120

In [14]:
recipes[recipes.recipe_id == 500875]

,recipe_id,user_id,name,rating_mean,rating_count,minutes,n_steps,n_ingredients,calories,total_fat,...,sodium,protein,saturated_fat,carbohydrates,tags,ingredients,steps,description,metadata,submitted
1383,500875,167849,cauliflower fried rice paleo,4.75,4,30,6,8,109.6,6.0,...,35.0,14.0,5.0,3.0,"['30-minutes-or-less', 'time-to-make', 'course...","['raw cauliflower', 'frozen peas', 'carrot', '...","['in a large pan , saute garlic and onions in ...",turn cauliflower into your favorite fried rice...,cauliflower fried rice paleo 30-minutes-or-...,2013-05-26